<!-- <mat-toolbar class="mat-elevation-z5">
    <mat-toolbar-row>
        <span><b>Home
        </b> </span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">person_outline</mat-icon>
    </mat-toolbar-row>
</mat-toolbar> -->

<mat-sidenav-container >
    <mat-sidenav mode="side" style="background: #1E1E2D;" opened>
        <mat-nav-list class="nav-list" >
            <a mat-list-item routerLink="userdata" class="list" style="background: #2A2A3C;"><mat-icon color="white-icon">people</mat-icon><span style="color: #ffffff;">User List</span></a>
            <!-- <a mat-list-item routerLink="newuser" class="list" style="background: #2A2A3C;"><mat-icon>person_add</mat-icon><span style="color: #ffffff;">Add NewUser</span></a>
            <a mat-list-item routerLink="updatedata" class="list" style="background: #2A2A3C;"><mat-icon>build</mat-icon><span style="color: #ffffff;">Update User</span></a>
            <a mat-list-item routerLink="filter" class="list" style="background: #2A2A3C;"><mat-icon>build</mat-icon><span style="color: #ffffff;">Filter Data</span></a>
            <a mat-list-item routerLink="deletedata" class="list" style="background: #2A2A3C;"><mat-icon>delete</mat-icon><span style="color: #ffffff;">Delete User</span></a> -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <p style="height:86vh;"> <router-outlet></router-outlet></p>
    </mat-sidenav-content>
</mat-sidenav-container>